header{
    border-bottom: 5px solid;
    background-color: aqua;
    height: 100px;
}

@media screen and (max-width:1200px){
    header{
        background-color: blue;
    }
    
}


@media screen and (max-width:996px){
    header{
        background-color: rgb(54, 54, 105);
    }
    
}