<p>product-add works!</p>

<form #pdata = "ngForm" (ngSubmit)="addData(pdata.value)">
    <div>
        <label for="">Name : </label>
        <input type="text" class="form-control" name="pname" ngModel>
    </div>
    <div>
        <label for="">Price : </label>
        <input type="text" class="form-control" name="pprice" ngModel>
    </div>
    <div>
        <label for="">Company : </label>
        <input type="text" class="form-control" name="pcompany" ngModel>
    </div>
    <div>
        <label for="">Quantity : </label>
        <input type="text" class="form-control" name="pquantity" ngModel>
    </div>
    <button type="submit" class="btn btn-outline-dark m-2">Add</button>
</form>