 <!-- <p>product-edit works!</p> -->


<div class="container">
    <form #pdata = "ngForm" (ngSubmit)="updateData(pdata.value)">
        <div>
            <label for="">Name : </label>
            <input type="text" class="form-control" name="pname"  [ngModel] = "product.pname">
        </div>
        <div>
            <label for="">Price : </label>
            <input type="text" class="form-control" name="pprice"  [ngModel] = "product.pprice">
        </div>
        <div>
            <label for="">Company : </label>
            <input type="text" class="form-control" name="pcompany"  [ngModel] = "product.pcompany">
        </div>
        <div>
            <label for="">Quantity : </label>
            <input type="text" class="form-control" name="pquantity"  [ngModel] = "product.pquantity">
        </div>
        <button type="submit" class="btn btn-outline-dark m-2">Add</button>
    </form>
</div>