.loginContainer{
    /* display: flex; */
    /* justify-content: center;
    align-items: center;
    height: 100vh;
    width:100vw; */

    border: 1px solid black;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center; */
    /* align-items: center;

}

.loginform{
    /* border: 2px solid black;
    padding:30px;
    width:300px;
    border-radius: 3px; */

    border: 1px solid; 
    padding: 50px;
    height: max-content;
    width: 360px;
    box-shadow: 1px -1px 10px black;
}

/* 
h2{
    justify-content: center;
} */

/*

.mainContainer{
    border: 1px solid black;
    display: flex
;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.logginForm{
    /* border: 1px solid; 
    padding: 50px;
    height: max-content;
    width: 360px;
    box-shadow: 1px -1px 10px black;
}

*/