 <p>rtf works!</p>


<div class="container">
    <p>RTF Table</p>

    <form [formGroup]="empForm" (ngSubmit)="getData()" class="box">

        <div>
            <label>Enter your First Name: </label>
            <input type="text" name="fname" formControlName="fname" class="form-control">

            <div *ngIf="empForm.get('fname').touched && empForm.get('fname').invalid">
                <div *ngIf="empForm.get('fname').errors.required" class="alert alert-danger"> fname is requie </div>
                <div *ngIf="empForm.get('fname').errors.pattern" class="alert alert-danger">fname must contain 3- 20 characters</div>
            </div>
        </div>
        <div>
            <label>Enter your Last Name: </label>

            <input type="text" name="lname" formControlName="lname" class="form-control">

            <div *ngIf=" empForm.get('lname').touched && empForm.get('lname').invalid">
                <div *ngIf="empForm.get('lname').errors.required" class="alert alert-danger">Iname is require</div>
                <div *ngIf="empForm.get('lname').errors.pattern" class="alert alert-danger">lname must contain 3- 20 characters</div>
            </div>
        </div>
        
        <div>
            <label class="form-check-label">
                <input type="checkbox" name="term" formControlName="term" class="form-check-input">
                I Accept Terms And Conditions
            </label>
            <div *ngIf="empForm.get('term').touched && empForm.get('term').invalid">
                <div *ngIf="empForm.get('term').errors.required" class="alert alert-danger">Accept term and condition</div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>