<p>rtf works!</p>

<div>
    <h2>form</h2>
<!-- 
<form>

    <div>

        <label> enter your fast: name</label>
        <input type="text" name="fname" formControlName="fname" class="form-control">
        <div *ngIf="empForm.get('fname').touched && empForm.get('fname').invalid">
            <div *ngIF="empForm.get('fname' ).errors.required" class="alert alert-danger">fnmae is required</div>
            <div *ngIF="empForm.get('fname' ).errors.pattern" class="alert alert-danger">fname must
                contain only letters min-3 and max-20</div>
        </div>
    </div>

    <div>

        <label> enter your last: name</label>
        <input type="text" name="lname" formControlName="lname" class="form-control">
        <div *ngIf="empForm.get('lname').touched && empForm.get('lname').invalid">
            <div *ngIF="empForm.get('lname' ).errors.required" class="alert alert-danger">lnmae is required</div>
            <div *ngIF="empForm.get('lname' ).errors.pattern" class="alert alert-danger">lname must
                contain only letters min-3 and max-20</div>
        </div>
    </div>



</form> -->
</div>