<p>mypipe works!</p>
<div>{{4|cube}}</div>
<div>{{10|square}}</div>
<div>{{msg}}</div>

<!-- string pipes  -->
 <div >{{msg | uppercase}}</div>
 <div >{{msg | lowercase}}</div>
 <div >{{msg | titlecase}}</div>
 <div >{{msg | slice:5}}</div>
 <div >{{msg | slice:5:20}}</div>

 <!-- json pipes -->
<div>{{emp|json}}</div>

<!-- number pipe -->
 <div>{{0.567|number:'3.3-5'}}</div>
 <div>{{0.567|number:'3.4-5'}}</div>
 <div>{{0.567|number:'3.1-2'}}</div>

 <!-- currency -->
  <div>{{100|currency}}</div>
  <div>{{100|currency:'GBP'}}</div>
  <div>{{100|currency:'INR'}}</div>

  <!-- data pipe -->
   <div>{{dateObj|date}}</div>
  
   <button type ="button" class="btn btn-primary">hello</button>