
<!-- <p>product-dash works!</p> -->

    <div class="container">
        <button type="button" routerLink="/maindashboard/productadd" class="btn btn-primary mb-2">+ Add</button>
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Name</td>
                    <td>Price</td>
                    <td>Company</td>
                    <td>Quantity</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of tableData">
                    <td>{{data.id}}</td>
                    <td>{{data.pname}}</td>
                    <td>{{data.pprice}}</td>
                    <td>{{data.pcompany}}</td>
                    <td>{{data.pquantity}}</td>
                    <td>
                        <button type="button" class="btn btn-warning" [routerLink]="['/maindashboard/productedit/',data.id]" sm-2>Edit</button>
                        <button type="button" class="btn btn-danger" (click)="deleteData(data.id)" sm-2>Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>